.social-icons {
  color: #313437;
  background-color: #fff;
  text-align: center;
}

@media (max-width:767px) {
  .social-icons {
    color: #4d6879;
    text-align: center;
  }
}

.social-icons i {
  font-size: 32px;
  display: inline-block;
  color: #757980;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #c8ced7;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
}

#h1-contact {
  color: #f23428;
  padding-top: 10px;
}

#phone {
  font-size: 40px;
  float: left;
  color: #4d6879;
}

#email {
  font-size: 40px;
  float: left;
  color: #4d6879;
}

#table-contact {
  padding-top: 20px;
}

#h3-contact {
  padding-bottom: 20px;
  padding-top: 20px;
}

